WEB_SESSION_KEY=aVerySecureKey
AUTH_TYPE=basic_auth
AUTH_BASIC_USERS='admin:20:$2a$10$F.9XEuzSgSimEHusYJdjBOSHD5VOqxW6apw5lVwEQaLRmer1sqiNe,vistor:5:$2a$10$LscaSomf.L4ZYYH3r6jIUu5ygqut3dAG4epppIf1NEImiMSe5cvoG'