LOGGING_LEVEL=debug
WEB_BASE_URL="https://localhost:8080"
WEB_LISTEN_ADDR=":8080"
WEB_SESSION_KEY="aVerySecureKey123"

# Basic Auth
AUTH_TYPE=basic_auth
# admin:admin (Admin) and visitor:visitor (Viewer)
AUTH_BASIC_USERS='admin:20:$2a$10$F.9XEuzSgSimEHusYJdjBOSHD5VOqxW6apw5lVwEQaLRmer1sqiNe,visitor:5:$2a$10$rwLxV10P/iOwra5Z.wAGUeRO3SC91/XQCZxBbyLrx162v7A1JCega'

# OpenID Connect Auth
#AUTH_TYPE=oidc
#AUTH_OIDC_CLIENT_ID="id"
#AUTH_OIDC_CLIENT_SECRET="secret"
#AUTH_OIDC_ISSUER='https://auth.example.com/'